.story-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.primary-picture-container {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3.125rem;
    width: 37.500rem;
    height: 37.500rem;
    background-color: #000000;
}

.primary-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #707070;
    object-fit: cover;
}

.text-and-little-pictures {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3.125rem;
    width: 37.500rem;
    height: 37.500rem;
    background-color: #f00000;
}